Source: ros-melodic-moveit-resources-prbt-pg70-support
Section: misc
Priority: optional
Maintainer: Alexander Gutenkunst <a.gutenkunst@pilz.de>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://moveit.ros.org
Standards-Version: 3.9.2

Package: ros-melodic-moveit-resources-prbt-pg70-support
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-moveit-resources-prbt-ikfast-manipulator-plugin, ros-melodic-moveit-resources-prbt-moveit-config, ros-melodic-moveit-resources-prbt-support, ros-melodic-xacro
Description: PRBT support for Schunk pg70 gripper.
